input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px lightcyan inset;
}

.character-form-section {
  padding: 1%;
}

.refresh-form-header {
  align-self: flex-end;
  font-weight: bold;
  margin-bottom: 5px;
}

.character-name-input {
  background-color: lightcyan;
  border-style: none;
  text-align: center;
  font-size: calc(30px + 1vw);
  font-weight: bold;
}

.character-refresh-input {
  background-color: lightcyan;
  border-style: none;
  font-weight: bold;
  font-size: calc(12px + 0.75vw);
  height: calc(12px + 0.75vw);
  align-self: flex-end;
  margin-bottom: 5px;
}

.character-name-input:focus {
  outline: none;
}

.character-name-input:focus:hover {
  outline: none;
}