input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px lightcyan inset;
}

input {
  border-style: none;
}

input:focus {
  outline: none;
}

input:focus:hover {
  outline: none;
}

.character-form-section {
  padding: 1%;
}

.refresh-form-header {
  align-self: flex-end;
  font-weight: bold;
  margin-bottom: 5px;
}

.character-name-input {
  background-color: lightcyan;
  text-align: center;
  font-size: calc(30px + 1vw);
  font-weight: bold;
  width: 10vw
}

.character-refresh-input {
  background-color: lightcyan;
  font-weight: bold;
  font-size: calc(12px + 0.75vw);
  height: calc(12px + 0.75vw);
  align-self: flex-end;
  margin-bottom: 5px;
}

.form-label {
  text-align: right;
}

.form-input {
  text-align: left;
}

.primary-input {
  background-color: #f0f0f0;
  text-align: left;
  min-width: calc(200px + 10vw);
}