caption {
  font-weight: bold;
}

.character-sheet{
  color: black;
  background-color: lightcyan;
  width: 80vw;
  max-height: 90vh;
}

.character-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.character-sheet-text {
  font-size: calc(12px + 0.75vw);
}

.character-sheet-item-primary {
  margin-bottom: 0px;
  flex: 1;
  padding: 0px 0px 0px 10%;
}

.character-sheet-item-secondary {
  padding: 0px 10% 0px 0px;
}

.character-sheet-item-refresh {
  margin-right: 12%;
  margin-top: 50px;
}

.character-name {
  font-size: calc(30px + 1vw);
  padding-right: 20%;
  padding-top: 1%;
}

.refresh-stat {
  margin: 0px;
}

.character-sheet-header {
  margin: 0px;
}

.stunt-header {
  text-align: left;
}

.refresh-header {
  text-align: center;
}