.character-sheet{
  color: black;
  background-color: lightcyan;
  width: 80vw;
  max-height: 90vh;
}

.character-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: calc(12px + 1vw);
}

.character-sheet-item-primary {
  margin-bottom: 0px;
  flex: 1;
  padding: 0px 0px 0px 50px;
}

.character-sheet-item-secondary {
  padding: 0px 50px 0px 0px;
}

.character-name {
  font-size: calc(40px + 1vw);
}