.characterSummaryTile {
  background-color: lightcyan;
  text-decoration: none;
  margin: 1rem;
  flex-basis: 0;
  flex-wrap: wrap;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem
}

.character-summary-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-summary-details h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.character-summary-details .highConcept {
  margin-top: 0px;
  padding-top: 0px;
  font-size: calc(12px + 0.75vw);
  color: #444;
}

.character-summary-details .trouble {
  font-style: italic;
  font-size: calc(12px + 0.75vw);
}

.character-skills-table {
  margin-top: auto;
}

.character-skills-table td {
  border-bottom: 1px solid darkgrey;
  font-size: calc(12px + 0.75vw);
  padding: 0rem 0.5rem;
}

.character-skills-table caption {
  font-size: calc(15px + 0.75vw);
  padding-bottom: 8px;
}

.option-links {
  margin-top: auto;
}

.character-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-skill-header {
  text-align: right;
}

.summary-skill-attribute {
  margin-right: 1rem;
}

@media (max-width:600px) {
  .characterSummaryTile {
    flex-direction: column;
    min-width: 80vw;
    margin: 0rem, 1rem;
  }

  .option-links {
    align-self: auto;
  }
}