.characterSummaryTile {
  background-color: lightcyan;
  text-decoration: none;
  margin: 1rem;
  flex-basis: 0;
  flex-wrap: wrap;
  min-width: 380px;
  display: flex;
  justify-content: center;
}

.option-links {
  align-self: flex-end;
}

.character-link {
  text-decoration: none;
  color: black;
}