.characterSummaryTile {
  background-color: lightcyan;
  text-decoration: none;
  margin: 1rem;
  flex-basis: 0;
  flex-wrap: wrap;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem
}

.character-summary-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-skills-table {
  margin-top: auto;
}

.character-skills-table td {
  border-bottom: 1px solid darkgrey;
}

.option-links {
  /* align-self: flex-end; */
  margin-top: auto;
}

.character-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:600px) {
  .characterSummaryTile {
    flex-direction: column;
    min-width: 80vw;
    margin: 0rem, 1rem;
  }

  .option-links {
    align-self: auto;
  }
}