caption {
  font-weight: bold;
}

article > ul {
  list-style-type: none;
  padding: 0px;
  text-align: justify;
}

.character-sheet{
  color: black;
  background-color: lightcyan;
  width: 80vw;
  margin-bottom: 2%;
  font-size: calc(12px + 0.75vw);
}

.character-stats {
  display: flex;
  margin-bottom: 20px;
}

.character-sheet-header {
  margin: 0px;
}

.character-sheet-item-primary {
  margin-bottom: 0px;
  flex: 1;
  padding: 0px 10% 0px 10%;
}

.character-sheet-item-secondary {
  padding: 0px 10% 0px 0px;
}

.character-sheet-item-refresh {
  margin-right: 11%;
  margin-top: 5%;
}

.character-name {
  font-size: calc(30px + 1vw);
  padding-right: 20%;
  padding-top: 1%;
}

.stunt-header {
  text-align: left;
}

.refresh-header {
  text-align: center;
  display: inline;
}

@media (min-width:1350px) {
  .character-sheet {
    max-width: 1080px;
    font-size: 22.125px;
  }
}

@media (max-width: 700px) {
  .character-stats {
    flex-direction: column;
    align-items: center;
  }

  .character-sheet-item-primary {
    margin-bottom: 5%;
    padding: 0px 5% 0px 5%;;
  }

  .character-sheet-item-secondary {
    padding: 0px
  }

  .character-sheet-item-refresh {
    margin: 0px;
  }
}