.stress-box {
  width: 5vw;
  height: 5vw;
  margin: 0% 50%;
  font-size: calc(12px + 2.5vw);
}

@media (max-width: 700px) {
  .stress-box {
    width: 12vw;
    height: 12vw;
    margin: 0% 50%;
  }
}