.stress-box {
  width: 5vw;
  height: 5vw;
  font-size: calc(12px + 2.5vw);
  background-color: #f0f0f0;
  cursor: pointer;
}

.checked-box {
  background: linear-gradient(to top right, #fff calc(50% - 1px), #aaa, #fff calc(50% + 1px) )
}

@media (min-width:1350px) {
  .stress-box {
    width: 72px;
    height: 72px;
    font-size: 45.75px;
  }
}

@media (max-width: 770px) {
  .stress-box {
    width: 12vw;
    height: 12vw;
    margin: 0% 50%;
  }
}