h1 {
  margin: 1rem
}

h3 {
  margin: 1rem
}

p {
  margin: 0.5rem;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(14px + 1.5vw);
  color: white;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 40px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 1rem;
  font-size: 13px;
  min-width: 50.5px;
}

.danger-button {
  background: #ED6A5E;
}



@media (min-width:1350px) {
  .App {
    font-size: 34.25px;
  }
}